<%- include("header") -%>
<body >

    <section id="shop" class="text-color-black text-center container-fluid lowered">
        <h1>Hoodies </h1>
        <div class="container ">
            <div class="mx-auto row">
                <div class="col-lg-3 col-sm-12">
                    <div class=" mx-auto card" style="width: 18rem;">
                        <img src="/images/mockup (2).png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hoodie name</h5>
                          
                          <a href="#" class="btn btn-outline-dark">Shop</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mx-auto card" style="width: 18rem;">
                        <img src="/images/mockup (3).png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hoodie name</h5>
                          
                          <a href="#" class="btn btn-outline-dark">Shop</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class=" mx-auto card" style="width: 18rem;">
                        <img src="/images/mockup (4).png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hoodie name</h5>
                          
                          <a href="#" class="btn btn-outline-dark">Shop</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mx-auto card" style="width: 18rem;">
                        <img src="/images/mockup (5).png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hoodie name</h5>
                          
                          <a href="#" class="btn btn-outline-dark">Shop</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mx-auto card" style="width: 18rem;">
                        <img src="/images/mockup (5).png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hoodie name</h5>
                          
                          <a href="#" class="btn btn-outline-dark">Shop</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mx-auto card" style="width: 18rem;">
                        <img src="/images/mockup (5).png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hoodie name</h5>
                          
                          <a href="#" class="btn btn-outline-dark">Shop</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mx-auto card" style="width: 18rem;">
                        <img src="/images/mockup (5).png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hoodie name</h5>
                          
                          <a href="#" class="btn btn-outline-dark">Shop</a>
                        </div>
                      </div>
                </div>
                

            </div>

        </div>

    </section>

<%- include("footer") -%>