@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
}

a {
    text-decoration: none;

}
.lowered{
    padding-top: 80px;
}

.text-color-black {
    color: black !important;
}

.col-card-img {
    height: auto;
    width: 50%;
}

.about-cards {
    padding: 7% 5%;
    text-align: left;
}

.horizontal-scrollable {
    overflow-x: auto;
    white-space: nowrap;
}

.horizontal-scrollable>.column-card {
    display: inline-block;
    float: none;


}

.horizontal-scrollable::-webkit-scrollbar {
    display: none;
}

/* Decorations */

.column-card {

    height: 200;
    width: 27rem;
    font-size: 24px;

    padding-top: 18px;
}

/* 
.container{
    padding: 7% 15% ; 
} */

/* .home-img{
    width: 10px;
    
} */
/* .box{
    width: 70%;
} */
.purple{
    color: blueviolet;
}

.img-fluid.brand {
    height: 50px !important;
}


.landing-text {
    position: absolute;
    left: 3%;
    top: 30%;
    word-spacing: 1rem;
    font-family: 'Raleway', sans-serif;
}

.landing-text>h1 {
    font-size: 7rem;
}
.text-size-2{
    font-size: 4rem;
}


/* mobile screen condition */
@media screen and (max-width:768px) {
    .landing-text {
        position: relative;
        text-align: center;
        left: 0;
        word-spacing: 0;
        font-family: 'Raleway', sans-serif;
    }

    .landing-text>h1 {
        font-size: 2rem;
    }

}

/* login */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }


.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}